{
  "openapi": "3.0.3",
  "info": {
    "title": "mPaaS Core APIs",
    "version": "1.0.8",
    "description": "The Telegent mPaaS (Mobile Platform as a Service) API gives you full programmatic control over mobile phone numbers, messaging, voice routing, subscribers, and account management. Use these APIs to provision MVNO and IoT numbers, send and receive SMS/MMS, configure intelligent call routing, manage subscriber accounts, and apply AI Guardian controls. All requests require a Bearer token obtained from the Authentication endpoint. For support, visit https://support.telegent.com/support/home",
    "contact": {
      "name": "Support",
      "email": "support@telegent.com"
    },
    "termsOfService": "https://telegent.com/terms",
    "license": {
      "name": "Use under LICX",
      "url": "https://telegent.com/license"
    }
  },
  "servers": [
    {
      "url": "https://api.telegent.com/v1.0"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/v1.0/OAuth2/tokens": {
      "post": {
        "tags": [
          "OAuth2"
        ],
        "summary": "Generate API Token",
        "description": "Authenticates your account credentials and returns a Bearer token required for all subsequent API requests. Include this token in the `Authorization: Bearer <token>` header on every call. Tokens expire and must be refreshed. Use the optional `ApiEndpoint` field to scope a token to a specific endpoint URL for tighter security.\n\n**What this does:** Returns a `token` string and `tokenExpiry` timestamp. Include the token as `Authorization: Bearer <token>` on every subsequent request. The optional `ApiEndpoint` field scopes the token to a single endpoint URL — a token scoped to `/v1.0/numbers/provision` will be rejected by any other endpoint. Re-authenticate from scratch when a token expires; there is no refresh mechanism.\n\n**Next steps:**\n- Use the token on any other endpoint — `POST /v1.0/numbers/provision`, `POST /v1.0/message/outbound`, etc.",
        "security": [],
        "parameters": [],
        "x-codeSamples": [
          {
            "lang": "JSON",
            "source": "{\n  \"AccountKey\": \"DID-1234567ab-1a2b-3cd4-...-...........\",\n  \"AccountSecret\": \"abcdeABCdef...\",\n  \"ApiEndpoint\": \"https://api.telegent.com/v1.0/numbers/provision\"\n}"
          },
          {
            "lang": "cURL",
            "source": "curl -X POST https://api.telegent.com/v1.0/oauth2/tokens \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"AccountKey\": \"DID-1234567ab-1a2b-3cd4-...-...........\",\n    \"AccountSecret\": \"abcdeABCdef...\",\n    \"ApiEndpoint\": \"https://api.telegent.com/v1.0/numbers/provision\"\n  }'"
          }
        ],
        "responses": {
          "200": {
            "description": "Success — returns the Bearer token and expiry timestamp",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "example": {
                    "value": {
                      "token": "abcdeghijklmnopqrstuvwxyz...................",
                      "successful": true,
                      "tokenExpiry": "05/02/2025 06:36:13 PM"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 400,
                      "Message": "Bad request: one or more required fields are missing or contain an invalid value."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest_Result"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 401,
                      "Message": "Unauthorized: Bearer token is missing, expired, or invalid. Re-authenticate via POST /v1.0/oauth2/tokens."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized_Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 403,
                      "Message": "Forbidden: your token does not have permission to access this resource. Check the ApiEndpoint scope."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden_Result"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 404,
                      "Message": "Not found: the requested resource does not exist or belongs to a different account."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound_Result"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowed_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowed_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 405,
                      "Message": "Method not allowed: verify the HTTP method required for this endpoint."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowed_Result"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/RequestTimeout_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestTimeout_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 408,
                      "Message": "Request timeout: the server did not receive a complete request within the allowed time. Retry with exponential backoff."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestTimeout_Result"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 429,
                      "Message": "Too many requests: rate limit exceeded. Slow your request cadence and retry after a short delay."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests_Result"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 500,
                      "Message": "Internal server error: an unexpected error occurred. If the problem persists contact support@telegent.com."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError_Result"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailable_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailable_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 503,
                      "Message": "Service unavailable: the API is temporarily unavailable. Retry after a short delay."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailable_Result"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayTimeout_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayTimeout_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 504,
                      "Message": "Gateway timeout: an upstream service did not respond in time. Retry with exponential backoff."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayTimeout_Result"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "AccountKey",
                  "AccountSecret"
                ],
                "properties": {
                  "AccountKey": {
                    "type": "string",
                    "description": "Your account key (e.g., DID-1234567ab-1a2b-3cd4-...-...........)",
                    "example": "DID-1234567ab-1a2b-3cd4-...-..........."
                  },
                  "AccountSecret": {
                    "type": "string",
                    "description": "Your account secret key",
                    "example": "abcdeABCdef..."
                  },
                  "ApiEndpoint": {
                    "type": "string",
                    "format": "uri",
                    "description": "The specific API endpoint URL this token will be scoped to. Each token is scoped to a single endpoint for security.",
                    "example": "https://api.telegent.com/v1.0/numbers/provision"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1.0/numbers/availability": {
      "post": {
        "tags": [
          "Numbers"
        ],
        "summary": "Search Available Numbers",
        "description": "Search for available phone numbers before provisioning. Filter by area code or zip code, required capabilities (voice, SMS/MMS), and message type. Returns a paginated list of matching numbers. Run this step first to confirm number availability in your target area before calling the Number Provision endpoint.\n\n**What this does:** Returns a paginated list of available area code and zip code combinations that have numbers matching your criteria. This tells you which area codes have available inventory before you commit to a provision call. Each result includes an NGP code and area code to use in `POST /v1.0/numbers/provision`.\n\n**Next steps:**\n- Provision a number from the results — `POST /v1.0/numbers/provision`",
        "parameters": [],
        "x-codeSamples": [
          {
            "lang": "JSON",
            "source": "{\n  \"NumberType\": \"mobile\",\n  \"MessageType\": \"p2p\",\n  \"MessageEnabled\": true,\n  \"VoiceEnabled\": true,\n  \"PageNumber\": 1,\n  \"AreaCode\": \"201\",\n  \"ZipCode\": \"\"\n}"
          },
          {
            "lang": "cURL",
            "source": "curl -X POST https://api.telegent.com/v1.0/numbers/availability \\\n  -H 'Authorization: Bearer YOUR_TOKEN' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"NumberType\": \"mobile\",\n    \"MessageType\": \"p2p\",\n    \"MessageEnabled\": true,\n    \"VoiceEnabled\": true,\n    \"PageNumber\": 1,\n    \"AreaCode\": \"201\",\n    \"ZipCode\": \"\"\n  }'"
          }
        ],
        "responses": {
          "200": {
            "description": "Success — returns a paginated list of available phone numbers matching your criteria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "example": {
                    "value": {
                      "RequestId": "T-04139",
                      "RequestDate": "2025-05-14T18:37:18.2408767Z",
                      "NumberType": "mobile",
                      "VoiceEnabled": true,
                      "MessageEnabled": true,
                      "AreaCode": "201",
                      "ZipCode": "",
                      "PageNumber": 1,
                      "ResultsTotal": 7700,
                      "AvailableNumberAreas": [
                        {
                          "NGP": "SAG",
                          "AreaCode": 993,
                          "Zipcode": "00601"
                        },
                        {
                          "NGP": "AGP",
                          "AreaCode": 787,
                          "Zipcode": "00601"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 400,
                      "Message": "Bad request: one or more required fields are missing or contain an invalid value."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest_Result"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 401,
                      "Message": "Unauthorized: Bearer token is missing, expired, or invalid. Re-authenticate via POST /v1.0/oauth2/tokens."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized_Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 403,
                      "Message": "Forbidden: your token does not have permission to access this resource. Check the ApiEndpoint scope."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden_Result"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 404,
                      "Message": "Not found: the requested resource does not exist or belongs to a different account."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound_Result"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowed_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowed_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 405,
                      "Message": "Method not allowed: verify the HTTP method required for this endpoint."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowed_Result"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/RequestTimeout_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestTimeout_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 408,
                      "Message": "Request timeout: the server did not receive a complete request within the allowed time. Retry with exponential backoff."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestTimeout_Result"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 429,
                      "Message": "Too many requests: rate limit exceeded. Slow your request cadence and retry after a short delay."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests_Result"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 500,
                      "Message": "Internal server error: an unexpected error occurred. If the problem persists contact support@telegent.com."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError_Result"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailable_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailable_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 503,
                      "Message": "Service unavailable: the API is temporarily unavailable. Retry after a short delay."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailable_Result"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayTimeout_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayTimeout_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 504,
                      "Message": "Gateway timeout: an upstream service did not respond in time. Retry with exponential backoff."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayTimeout_Result"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "NumberType",
                  "MessageEnabled",
                  "VoiceEnabled"
                ],
                "properties": {
                  "NumberType": {
                    "type": "string",
                    "enum": [
                      "mobile"
                    ],
                    "description": "Type of number to search for",
                    "example": "mobile"
                  },
                  "MessageType": {
                    "type": "string",
                    "enum": [
                      "a2p",
                      "p2p"
                    ],
                    "description": "Message type: a2p (Application-to-Person) or p2p (Person-to-Person)",
                    "example": "p2p"
                  },
                  "MessageEnabled": {
                    "type": "boolean",
                    "description": "Enable SMS/MMS capabilities",
                    "example": true
                  },
                  "VoiceEnabled": {
                    "type": "boolean",
                    "description": "Enable voice call capabilities",
                    "example": true
                  },
                  "PageNumber": {
                    "type": "integer",
                    "description": "Page number for pagination (10,000 results per page)",
                    "example": 1,
                    "default": 1
                  },
                  "AreaCode": {
                    "type": "string",
                    "description": "3-digit area code to search (leave empty for all area codes)",
                    "example": "201"
                  },
                  "ZipCode": {
                    "type": "string",
                    "description": "Zip code to search if area code is unavailable",
                    "example": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1.0/numbers/provision": {
      "post": {
        "tags": [
          "Numbers"
        ],
        "summary": "Number Provision (Purchase/Order)",
        "description": "**Prerequisites:**\n- **Required:** Bearer token — `POST /v1.0/oauth2/tokens`\n- **Required:** Message Route ID (MRID) — `POST /v1.0/message/routes`\n- **Optional:** Voice Route ID (CRID) — `POST /v1.0/voice/routes` *(only needed if `VoiceEnabled: true`)*\n- **Optional:** Subscriber ID (TSUID) — `POST /v1.0/subscribers/create` *(to assign the number at provision time)*\n\n---\n\nPurchase and activate a phone number on your account. Before provisioning, ensure you have already created a Message Route (MRID) and Voice Route (CRID) — numbers provisioned without routes will have no call or message handling. Specify the number classification (`mvno` for full messaging and voice, `iot` for data and p2p messaging only), and required capabilities. Returns an OrderId for status tracking.\n\n**What this does:** Purchases and activates the number, returning an `OrderId`, the assigned phone number in E.164 format, a `PhoneNumberId` (`NID-`), and an eSIM QR code (if applicable). The `OrderId` can be used to track provisioning status.\n\n**Next steps:**\n- Check order status — `GET /v1.0/numbers/order`\n- Send a test message — `POST /v1.0/message/outbound`",
        "parameters": [],
        "x-codeSamples": [
          {
            "lang": "JSON",
            "source": "{\n  \"NumberType\": \"iot\",\n  \"MessageType\": \"p2p\",\n  \"MessageEnabled\": true,\n  \"VoiceEnabled\": false,\n  \"DataEnabled\": true,\n  \"MessageRouteId\": \"MRID-73af1e73-d7b3-4696-bdd9-5b407c96fc8a\",\n  \"VoiceRouteId\": \"CRID-4dec6beb-3985-444b-8c06-8baa70dc145\",\n  \"AreaCode\": \"201\",\n  \"ZipCode\": \"84043\",\n  \"ICCID\": \"8901240397190195850\",\n  \"ProductType\": \"Sms+Data\",\n  \"AssignedSubscriberId\": \"TSUID-1234567999\"\n}"
          },
          {
            "lang": "cURL",
            "source": "curl -X POST https://api.telegent.com/v1.0/numbers/provision \\\n  -H 'Authorization: Bearer YOUR_TOKEN' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"NumberType\": \"iot\",\n    \"MessageType\": \"p2p\",\n    \"MessageEnabled\": true,\n    \"VoiceEnabled\": false,\n    \"DataEnabled\": true,\n    \"MessageRouteId\": \"MRID-73af1e73-d7b3-4696-bdd9-5b407c96fc8a\",\n    \"VoiceRouteId\": \"CRID-4dec6beb-3985-444b-8c06-8baa70dc145\",\n    \"AreaCode\": \"201\",\n    \"ZipCode\": \"84043\",\n    \"ICCID\": \"8901240397190195850\",\n    \"ProductType\": \"Sms+Data\",\n    \"AssignedSubscriberId\": \"TSUID-1234567999\"\n  }'"
          }
        ],
        "responses": {
          "200": {
            "description": "Success — returns the order ID, assigned phone number, and provisioning status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "example": {
                    "value": {
                      "OrderDate": "2025-10-29T12:36:19.338438+00:00",
                      "OrderId": "JNUOID-76ba71a8-d7a6-4489-b695-1ad363b8d596",
                      "OrderStatus": "Complete",
                      "PhoneNumberAssigned": "+18016025346",
                      "PhoneNumberId": "NID-8bdf915a-ef65-46c9-8c66-96c98d42d9ca",
                      "QRCode": "https://quickchart.io/qr?text=LPA:1$T-MOBILE.IDEMIA.IO$LX9G1-Q12VI-CIIWA-WAQIN&centerImageUrl=https://joonto.com/wp-content/uploads/2022/07/cropped-Joonto-2022-Square-Icon-Black-Background.png&ecLevel=H&format=png&centerImageSizeRatio=.3",
                      "ZipCode": "84603",
                      "ICCID": "12345678900987654321",
                      "ErrorMessage": null,
                      "SubscriberId": "TSUID-ac59a1f8-36b6-42cc-b124-c2aa29f7e3d2"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 400,
                      "Message": "Bad request: one or more required fields are missing or contain an invalid value."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest_Result"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 401,
                      "Message": "Unauthorized: Bearer token is missing, expired, or invalid. Re-authenticate via POST /v1.0/oauth2/tokens."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized_Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 403,
                      "Message": "Forbidden: your token does not have permission to access this resource. Check the ApiEndpoint scope."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden_Result"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 404,
                      "Message": "Not found: the requested resource does not exist or belongs to a different account."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound_Result"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowed_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowed_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 405,
                      "Message": "Method not allowed: verify the HTTP method required for this endpoint."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowed_Result"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/RequestTimeout_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestTimeout_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 408,
                      "Message": "Request timeout: the server did not receive a complete request within the allowed time. Retry with exponential backoff."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestTimeout_Result"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 429,
                      "Message": "Too many requests: rate limit exceeded. Slow your request cadence and retry after a short delay."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests_Result"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 500,
                      "Message": "Internal server error: an unexpected error occurred. If the problem persists contact support@telegent.com."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError_Result"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailable_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailable_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 503,
                      "Message": "Service unavailable: the API is temporarily unavailable. Retry after a short delay."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailable_Result"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayTimeout_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayTimeout_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 504,
                      "Message": "Gateway timeout: an upstream service did not respond in time. Retry with exponential backoff."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayTimeout_Result"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "NumberType",
                  "MessageType",
                  "MessageEnabled",
                  "VoiceEnabled",
                  "ProductType"
                ],
                "properties": {
                  "NumberType": {
                    "type": "string",
                    "enum": [
                      "mvno",
                      "iot"
                    ],
                    "description": "Number classification: 'mvno' (supports both a2p and p2p), 'iot' (p2p only - cannot be provisioned as a2p; use mvno NumberType for a2p MessageType)",
                    "example": "iot"
                  },
                  "MessageType": {
                    "type": "string",
                    "enum": [
                      "a2p",
                      "p2p"
                    ],
                    "description": "Message type: a2p (Application-to-Person) or p2p (Person-to-Person)",
                    "example": "p2p"
                  },
                  "MessageEnabled": {
                    "type": "boolean",
                    "description": "Enable SMS/MMS capabilities",
                    "example": true
                  },
                  "VoiceEnabled": {
                    "type": "boolean",
                    "description": "Enable voice call capabilities",
                    "example": false
                  },
                  "DataEnabled": {
                    "type": "boolean",
                    "description": "Enable data capabilities (for IoT numbers)",
                    "example": true
                  },
                  "MessageRouteId": {
                    "type": "string",
                    "description": "MRID for message routing configuration",
                    "example": "MRID-81dr9t90-....-....-....-.........."
                  },
                  "VoiceRouteId": {
                    "type": "string",
                    "description": "CRID for voice routing configuration",
                    "example": "CRID-5nov0yuy-....-....-....-........."
                  },
                  "AreaCode": {
                    "type": "string",
                    "description": "Preferred 3-digit area code. Lookup searches AreaCode first before ZipCode. If both AreaCode and ZipCode are left blank or null, a randomized set of results will be returned",
                    "example": "201"
                  },
                  "ZipCode": {
                    "type": "string",
                    "description": "5-digit zip code. Used as fallback if AreaCode is unavailable. You may provide both AreaCode and ZipCode, or just one; AreaCode takes priority if included. Please note that zip codes must be valid and within the United States.",
                    "example": "84043"
                  },
                  "ICCID": {
                    "type": "string",
                    "description": "Integrated Circuit Card Identifier. Optional field, but required when provisioning a physical SIM (pSIM)",
                    "example": "8901240397190195850"
                  },
                  "ProductType": {
                    "type": "string",
                    "enum": [
                      "Sms-Only",
                      "Data-Only",
                      "Sms+Data",
                      "Sms+Data+Voice"
                    ],
                    "description": "Product type for the provisioned number. Options: Sms-Only, Data-Only, Sms+Data, Sms+Data+Voice",
                    "example": "Sms+Data"
                  },
                  "AssignedSubscriberId": {
                    "type": "string",
                    "description": "Optional subscriber-id to be assigned to the new number",
                    "example": "TSUID-1234567999"
                  },
                  "AccountId": {
                    "type": "string",
                    "description": "Account ID (AID) to provision the number under. Required when a distributor account has more than one sub-account.",
                    "example": "AID-ab12345-2725-45a1-bd5e-526ed19799xx"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1.0/numbers/portin": {
      "post": {
        "tags": [
          "Numbers"
        ],
        "summary": "Numbers - Port In",
        "description": "**Prerequisites:**\n- **Required:** Bearer token — `POST /v1.0/oauth2/tokens`\n- **Recommended:** Confirm the number is portable first — `POST /v1.0/numbers/portin/eligibility`\n- **Required:** Losing carrier name, account number, account password, and subscriber billing address\n\n---\n\nTransfer an existing phone number from another carrier into your Telegent account. Before submitting a port-in, run the Port-In Eligibility check to confirm the number can be ported. You will need the losing carrier name, account number, account password, and the subscriber's billing address for LNP (Local Number Portability) compliance.\n\n**What this does:** Submits the port request to the carrier and returns an `OrderId` with an initial status of `Pending`. Monitor the order using the `OrderId`. Port requests typically take 1-5 business days to complete.\n\n**Next steps:**\n- Track the port order status — `GET /v1.0/numbers/order`\n- Cancel if needed — `POST /v1.0/numbers/portin/cancel`",
        "parameters": [],
        "x-codeSamples": [
          {
            "lang": "JSON",
            "source": "{\n  \"PortInNumber\": \"+15555551234\",\n  \"ICCID\": \"8901240397190195850\",\n  \"CurrentCarrierName\": \"Telegent\",\n  \"CurrentAccountNumber\": \"46512222\",\n  \"CurrentAccountPassword\": \"0000\",\n  \"TargetPortinClassification\": \"mvno\",\n  \"SubscriberName\": \"Telegent\",\n  \"CurrentBillingAddress\": {\n    \"Street1\": \"2701 N Thanksgiving Way\",\n    \"Street2\": \"Suite 202\",\n    \"City\": \"Lehi\",\n    \"State\": \"UT\",\n    \"Zip\": \"84043\"\n  }\n}"
          },
          {
            "lang": "cURL",
            "source": "curl -X POST https://api.telegent.com/v1.0/numbers/portin \\\n  -H 'Authorization: Bearer YOUR_TOKEN' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"PortInNumber\": \"+15555551234\",\n    \"ICCID\": \"8901240397190195850\",\n    \"CurrentCarrierName\": \"Telegent\",\n    \"CurrentAccountNumber\": \"46512222\",\n    \"CurrentAccountPassword\": \"0000\",\n    \"TargetPortinClassification\": \"mvno\",\n    \"SubscriberName\": \"Telegent\",\n    \"CurrentBillingAddress\": {\"Street1\": \"2701 N Thanksgiving Way\", \"Street2\": \"Suite 202\", \"City\": \"Lehi\", \"State\": \"UT\", \"Zip\": \"84043\"}\n  }'"
          }
        ],
        "responses": {
          "200": {
            "description": "Success — returns the port-in order ID and initial status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "example": {
                    "value": {
                      "OrderId": "JNOID-aabbde7a-....-....-....-............",
                      "OrderDate": "2025-05-14T18:00:00.0000000+00:00",
                      "Status": "Pending",
                      "PhoneNumber": "+11234567890",
                      "ICCID": "12345678900987654321"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 400,
                      "Message": "Bad request: one or more required fields are missing or contain an invalid value."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest_Result"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 401,
                      "Message": "Unauthorized: Bearer token is missing, expired, or invalid. Re-authenticate via POST /v1.0/oauth2/tokens."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized_Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 403,
                      "Message": "Forbidden: your token does not have permission to access this resource. Check the ApiEndpoint scope."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden_Result"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 404,
                      "Message": "Not found: the requested resource does not exist or belongs to a different account."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound_Result"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowed_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowed_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 405,
                      "Message": "Method not allowed: verify the HTTP method required for this endpoint."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowed_Result"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/RequestTimeout_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestTimeout_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 408,
                      "Message": "Request timeout: the server did not receive a complete request within the allowed time. Retry with exponential backoff."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestTimeout_Result"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 429,
                      "Message": "Too many requests: rate limit exceeded. Slow your request cadence and retry after a short delay."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests_Result"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 500,
                      "Message": "Internal server error: an unexpected error occurred. If the problem persists contact support@telegent.com."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError_Result"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailable_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailable_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 503,
                      "Message": "Service unavailable: the API is temporarily unavailable. Retry after a short delay."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailable_Result"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayTimeout_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayTimeout_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 504,
                      "Message": "Gateway timeout: an upstream service did not respond in time. Retry with exponential backoff."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayTimeout_Result"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "PortInNumber",
                  "CurrentCarrierName",
                  "CurrentAccountNumber",
                  "CurrentAccountPassword",
                  "CurrentBillingAddress"
                ],
                "properties": {
                  "PortInNumber": {
                    "type": "string",
                    "description": "Phone number to port in (E.164 format)",
                    "example": "+11234567890"
                  },
                  "CurrentCarrierName": {
                    "type": "string",
                    "description": "Name of the losing carrier",
                    "example": "Company LLC"
                  },
                  "CurrentAccountNumber": {
                    "type": "string",
                    "description": "Account number with current carrier",
                    "example": "4651234567"
                  },
                  "CurrentAccountPassword": {
                    "type": "string",
                    "description": "Account PIN/password with current carrier",
                    "example": "0550"
                  },
                  "CurrentBillingAddress": {
                    "type": "object",
                    "required": [
                      "Street1",
                      "City",
                      "State",
                      "Zip"
                    ],
                    "properties": {
                      "Street1": {
                        "type": "string",
                        "example": "123 N Adddress Way"
                      },
                      "Street2": {
                        "type": "string",
                        "example": "Suite 010"
                      },
                      "City": {
                        "type": "string",
                        "example": "Townsville"
                      },
                      "State": {
                        "type": "string",
                        "example": "UT"
                      },
                      "Zip": {
                        "type": "string",
                        "example": "84048"
                      }
                    }
                  },
                  "ICCID": {
                    "type": "string",
                    "description": "SIM card ICCID (optional)",
                    "example": "8901240397190557414F"
                  },
                  "TargetPortinClassification": {
                    "type": "string",
                    "enum": [
                      "mvno",
                      "iot"
                    ],
                    "description": "Classification type for the port-in",
                    "example": "mvno"
                  },
                  "SubscriberName": {
                    "type": "string",
                    "description": "Name of the subscriber (optional)",
                    "example": "John Doe"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1.0/numbers/portin/eligibility": {
      "post": {
        "tags": [
          "Numbers"
        ],
        "summary": "Numbers - Port In Eligibility",
        "description": "Check if a phone number is eligible for port-in before submitting a full port request. Returns carrier information and eligibility status.\n\n**What this does:** Returns a `Eligible` boolean, the number's current carrier, and number type. Run this before submitting a port-in to avoid failed orders. If `Eligible` is false, the `Message` field explains why.\n\n**Next steps:**\n- If eligible, submit the port-in — `POST /v1.0/numbers/portin`",
        "parameters": [],
        "x-codeSamples": [
          {
            "lang": "JSON",
            "source": "{\n  \"PhoneNumber\": \"+15555551234\",\n  \"TargetClassification\": \"Mobile\"\n}"
          },
          {
            "lang": "cURL",
            "source": "curl -X POST https://api.telegent.com/v1.0/numbers/portin/eligibility \\\n  -H 'Authorization: Bearer YOUR_TOKEN' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"PhoneNumber\": \"+15555551234\",\n    \"TargetClassification\": \"Mobile\"\n  }'"
          }
        ],
        "responses": {
          "200": {
            "description": "Port In Eligibility",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "example": {
                    "value": {
                      "PhoneNumber": "+15555551234",
                      "Eligible": true,
                      "CurrentCarrier": "Example Carrier",
                      "NumberType": "mobile",
                      "Message": "Number is eligible for port-in"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 400,
                      "Message": "Bad request: one or more required fields are missing or contain an invalid value."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest_Result"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 401,
                      "Message": "Unauthorized: Bearer token is missing, expired, or invalid. Re-authenticate via POST /v1.0/oauth2/tokens."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized_Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 403,
                      "Message": "Forbidden: your token does not have permission to access this resource. Check the ApiEndpoint scope."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden_Result"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 404,
                      "Message": "Not found: the requested resource does not exist or belongs to a different account."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound_Result"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowed_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowed_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 405,
                      "Message": "Method not allowed: verify the HTTP method required for this endpoint."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowed_Result"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/RequestTimeout_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestTimeout_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 408,
                      "Message": "Request timeout: the server did not receive a complete request within the allowed time. Retry with exponential backoff."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestTimeout_Result"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 429,
                      "Message": "Too many requests: rate limit exceeded. Slow your request cadence and retry after a short delay."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests_Result"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 500,
                      "Message": "Internal server error: an unexpected error occurred. If the problem persists contact support@telegent.com."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError_Result"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailable_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailable_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 503,
                      "Message": "Service unavailable: the API is temporarily unavailable. Retry after a short delay."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailable_Result"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayTimeout_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayTimeout_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 504,
                      "Message": "Gateway timeout: an upstream service did not respond in time. Retry with exponential backoff."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayTimeout_Result"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "PhoneNumber",
                  "TargetClassification"
                ],
                "properties": {
                  "PhoneNumber": {
                    "type": "string",
                    "description": "Phone number to check eligibility for (E.164 format)",
                    "example": "+15555551234"
                  },
                  "TargetClassification": {
                    "type": "string",
                    "description": "Target classification for the port-in number (e.g. Mobile, Landline)",
                    "example": "Mobile"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1.0/numbers/portin/update": {
      "post": {
        "tags": [
          "Numbers"
        ],
        "summary": "Numbers - Update Port In",
        "description": "Update an existing port-in order with new information such as carrier details, account credentials, or billing address before the port completes.\n\n**What this does:** Returns confirmation that the port-in order has been updated. Use this before the port completes if the carrier details or billing address provided were incorrect.\n\n**Next steps:**\n- Check order status — `GET /v1.0/numbers/order`\n- Cancel if needed — `POST /v1.0/numbers/portin/cancel`",
        "parameters": [],
        "x-codeSamples": [
          {
            "lang": "JSON",
            "source": "{\n  \"OrderId\": \"JNUOID-6e3eb213-baf1-47bb-9db0-5d7d09d4b7b4\",\n  \"CurrentCarrierName\": \"Updated Carrier\",\n  \"CurrentAccountNumber\": \"46512222\",\n  \"CurrentAccountPassword\": \"0000\",\n  \"PortInDate\": \"2026-06-01\",\n  \"TargetPortinClassification\": \"Mobile\",\n  \"SubscriberName\": \"John Doe\",\n  \"ICCID\": \"89014103211118510720\",\n  \"CurrentBillingAddress\": {\n    \"Street1\": \"123 N Address Way\",\n    \"Street2\": \"Suite 010\",\n    \"City\": \"Townsville\",\n    \"State\": \"UT\",\n    \"Zip\": \"84048\"\n  }\n}"
          },
          {
            "lang": "cURL",
            "source": "curl -X POST https://api.telegent.com/v1.0/numbers/portin/update \\\n  -H 'Authorization: Bearer YOUR_TOKEN' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"OrderId\": \"JNUOID-6e3eb213-baf1-47bb-9db0-5d7d09d4b7b4\",\n    \"CurrentCarrierName\": \"Updated Carrier\",\n    \"CurrentAccountNumber\": \"46512222\",\n    \"CurrentAccountPassword\": \"0000\",\n    \"PortInDate\": \"2026-06-01\",\n    \"TargetPortinClassification\": \"Mobile\",\n    \"SubscriberName\": \"John Doe\",\n    \"ICCID\": \"89014103211118510720\",\n    \"CurrentBillingAddress\": {\n      \"Street1\": \"123 N Address Way\",\n      \"City\": \"Townsville\",\n      \"State\": \"UT\",\n      \"Zip\": \"84048\"\n    }\n  }'"
          }
        ],
        "responses": {
          "200": {
            "description": "Update Port In",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "example": {
                    "value": {
                      "OrderId": "JNUOID-6e3eb213-baf1-47bb-9db0-5d7d09d4b7b4",
                      "Status": "Updated",
                      "Message": "Port-in order updated successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 400,
                      "Message": "Bad request: one or more required fields are missing or contain an invalid value."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest_Result"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 401,
                      "Message": "Unauthorized: Bearer token is missing, expired, or invalid. Re-authenticate via POST /v1.0/oauth2/tokens."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized_Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 403,
                      "Message": "Forbidden: your token does not have permission to access this resource. Check the ApiEndpoint scope."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden_Result"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 404,
                      "Message": "Not found: the requested resource does not exist or belongs to a different account."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound_Result"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowed_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowed_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 405,
                      "Message": "Method not allowed: verify the HTTP method required for this endpoint."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowed_Result"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/RequestTimeout_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestTimeout_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 408,
                      "Message": "Request timeout: the server did not receive a complete request within the allowed time. Retry with exponential backoff."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestTimeout_Result"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 429,
                      "Message": "Too many requests: rate limit exceeded. Slow your request cadence and retry after a short delay."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests_Result"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 500,
                      "Message": "Internal server error: an unexpected error occurred. If the problem persists contact support@telegent.com."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError_Result"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailable_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailable_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 503,
                      "Message": "Service unavailable: the API is temporarily unavailable. Retry after a short delay."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailable_Result"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayTimeout_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayTimeout_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 504,
                      "Message": "Gateway timeout: an upstream service did not respond in time. Retry with exponential backoff."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayTimeout_Result"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "OrderId"
                ],
                "properties": {
                  "OrderId": {
                    "type": "string",
                    "description": "The order ID of the port-in request to update",
                    "example": "JNUOID-6e3eb213-baf1-47bb-9db0-5d7d09d4b7b4"
                  },
                  "CurrentCarrierName": {
                    "type": "string",
                    "description": "Updated name of the losing carrier",
                    "example": "Updated Carrier"
                  },
                  "CurrentAccountNumber": {
                    "type": "string",
                    "description": "Updated account number with current carrier",
                    "example": "46512222"
                  },
                  "CurrentAccountPassword": {
                    "type": "string",
                    "description": "Updated account PIN/password with current carrier",
                    "example": "0000"
                  },
                  "CurrentBillingAddress": {
                    "type": "object",
                    "properties": {
                      "Street1": {
                        "type": "string",
                        "example": "123 N Address Way"
                      },
                      "Street2": {
                        "type": "string",
                        "example": "Suite 010"
                      },
                      "City": {
                        "type": "string",
                        "example": "Townsville"
                      },
                      "State": {
                        "type": "string",
                        "example": "UT"
                      },
                      "Zip": {
                        "type": "string",
                        "example": "84048"
                      }
                    }
                  },
                  "PortInDate": {
                    "type": "string",
                    "description": "Requested date for the port to complete (YYYY-MM-DD)",
                    "example": "2026-06-01"
                  },
                  "TargetPortinClassification": {
                    "type": "string",
                    "description": "Target classification for the porting number (e.g. Mobile, Landline)",
                    "example": "Mobile"
                  },
                  "SubscriberName": {
                    "type": "string",
                    "description": "Updated subscriber name",
                    "example": "John Doe"
                  },
                  "ICCID": {
                    "type": "string",
                    "description": "SIM card ICCID. Required only for pSIM port-ins.",
                    "example": "89014103211118510720"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1.0/numbers/portin/cancel": {
      "post": {
        "tags": [
          "Numbers"
        ],
        "summary": "Numbers - Cancel Port In",
        "description": "Cancel an existing port-in request using the order ID. This endpoint allows you to cancel a pending port-in order before it is completed.\n\n**What this does:** Returns the `OrderId` and a `Cancelled` status confirmation. Only pending port-in orders can be cancelled — orders in final states cannot be reversed.\n\n**Next steps:**\n- Submit a new port-in request — `POST /v1.0/numbers/portin`",
        "parameters": [],
        "x-codeSamples": [
          {
            "lang": "JSON",
            "source": "{\n  \"OrderId\": \"JNUOID-6e3eb213-baf1-47bb-9db0-5d7d09d4b7b4\"\n}"
          },
          {
            "lang": "cURL",
            "source": "curl -X POST https://api.telegent.com/v1.0/numbers/portin/cancel \\\n  -H 'Authorization: Bearer YOUR_TOKEN' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"OrderId\": \"JNUOID-6e3eb213-baf1-47bb-9db0-5d7d09d4b7b4\"\n  }'"
          }
        ],
        "responses": {
          "200": {
            "description": "Numbers - Cancel Port In",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "example": {
                    "value": {
                      "OrderId": "JNUOID-6e3eb213-baf1-47bb-9db0-5d7d09d4b7b4",
                      "Status": "Cancelled"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 400,
                      "Message": "Bad request: one or more required fields are missing or contain an invalid value."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest_Result"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 401,
                      "Message": "Unauthorized: Bearer token is missing, expired, or invalid. Re-authenticate via POST /v1.0/oauth2/tokens."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized_Result"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 403,
                      "Message": "Forbidden: your token does not have permission to access this resource. Check the ApiEndpoint scope."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden_Result"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 404,
                      "Message": "Not found: the requested resource does not exist or belongs to a different account."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound_Result"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowed_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowed_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 405,
                      "Message": "Method not allowed: verify the HTTP method required for this endpoint."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowed_Result"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/RequestTimeout_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestTimeout_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 408,
                      "Message": "Request timeout: the server did not receive a complete request within the allowed time. Retry with exponential backoff."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestTimeout_Result"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 429,
                      "Message": "Too many requests: rate limit exceeded. Slow your request cadence and retry after a short delay."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests_Result"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 500,
                      "Message": "Internal server error: an unexpected error occurred. If the problem persists contact support@telegent.com."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError_Result"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailable_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailable_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 503,
                      "Message": "Service unavailable: the API is temporarily unavailable. Retry after a short delay."
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailable_Result"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayTimeout_Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayTimeout_Result"
                },
                "examples": {
                  "example": {
                    "value": {
                      "StatusCode": 504,
[...]
